name: deploy-release

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Create zip package
        run: |
          mkdir -p dist
          zip -r dist/examen-devops-api.zip app requirements.txt README.md

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/examen-devops-api.zip
